@import "../variables";
@mixin muteBox($top: 0, $left: 0) {
  border-radius: 30px;
  z-index: 2;
  border: 2px solid $color-accent-light;
  background-color: $color-white;
  top: $top;
  left: $left;
  position: absolute;
}