.CallBoxSceneGroupVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.CallBoxSceneGroupVideo--fullScreen {
  display: flex;
  align-content: center;
  justify-content: center;
}

.CallBoxSceneGroupVideo--settings {
  z-index: 5;
}

.CallBoxSceneGroupVideo__Grid {
  display: grid;
  height: 100%;
  justify-items: center;
  background-color: $color-dark;
}

.CallBoxSceneGroupVideo__Grid--fullScreen {
  max-width: 700px;
  width: 100%;
}

.CallBoxSceneGroupVideo__CamVideoContainer {
  cursor: pointer;
  height: 100%;
}

.CallBoxSceneGroupVideo__CamContainer {
  background-color: $color-dark;
  width: 100%;
  position: relative;
}

.CallBoxSceneGroupVideo__CamVideo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

.CallBoxSceneGroupVideo__MuteContainer {
  position: absolute;
  top: 10px;
  right: 7px;
  z-index: 222;
}