.CallBoxSceneGroupVideoThumbnail {
  display: flex;
  flex-direction: column;
}

.CallBoxSceneGroupVideoThumbnail__Scene {

}

.CallBoxSceneGroupVideoThumbnail__List {
  display: flex;
}

.CallBoxSceneGroupVideoThumbnail__ListItem {

}

.CallBoxSceneGroupVideoThumbnail__MuteContainer {

}

.CallBoxSceneGroupVideoThumbnail__CamVideoContainer {
  height: 100%;
}