.CallBoxSceneGroupParticipantsControl {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.CallBoxSceneGroupParticipantsControl__Head {
  height: 40px;
  display: flex;
  padding: 15px;
  align-content: center;
  align-items: center;
  background-color: $color-gray-light;
}

.CallBoxSceneGroupParticipantsControl__HeadText {
  flex-grow: 1;
}

.CallBoxSceneGroupParticipantsControl__CloseButton {
  flex: none
}