.CallBoxSceneGroupVoice {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.CallBoxSceneGroupVoice__AvatarContainer {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  position: relative;
}

.CallBoxSceneGroupVoice__Avatar {

}