.CallBoxControlSetMore__SettingItemContainer {
  display: inline-flex;
  width: 100%;
}

.CallBoxControlSetMore__SettingItemText {
  display: inline-flex;
  flex-grow: 1;

}

.CallBoxControlSetMore__SettingItemStatus {
  flex: none;
}