@import "../mixin/CallBoxMuteBox";

.CallBoxCompactedGroup {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
  display: flex;
  width: 100%;
  cursor: pointer;
}

.CallBoxCompactedGroup__Participant {
  display: flex;
  margin-left: 6px;
  border: 2px solid $color-accent-light;
  box-shadow: 0 0 2px $color-gray-dark;
  border-radius: 54px;
  position: relative;
}

.CallBoxCompactedGroup__MicOffContainer {
  @include muteBox(-10px, -10px);
}
