@import "../mixin/MainCallBoxMuteBox";

.MainCallBoxSceneGroupParticipants {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
  display: flex;
  align-items: center;
  width: 100%;
  align-content: center;
  justify-content: center;
  transition: background-color ease 0.2s;
  cursor: pointer;
}

.MainCallBoxSceneGroupParticipants:hover {
  background-color: $color-accent-light;
}


.MainCallBoxSceneGroupParticipants__Participant {
  display: flex;
  margin-left: 6px;
  border: 2px solid $color-accent-light;
  box-shadow: 0 0 2px $color-gray-dark;
  border-radius: 54px;
  position: relative;
}

.MainCallBoxSceneGroupParticipants__MicOffContainer {
  @include muteBox(-10px, -10px);
}


.MainCallBoxSceneGroupParticipants__Avatar {

}