.MainCallBoxHead {
  display: flex;
  flex-direction: row;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

.MainCallBoxHead__StatusContainer {
  flex-grow: 1;
  text-align: center;
  padding-right: 20px;
  position: relative;
  z-index: 2;
}
