.MainCallBoxSceneGroup {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.MainCallBoxSceneGroup__AvatarContainer {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  position: relative;
}

.MainCallBoxSceneGroup__Avatar {

}