@import "scope";
@import "../mixin/responsive";

.MainHeadCallButtons__Button {
  padding: 18px 9px;
  display: inline-block;
}

@include grid("md") {

  .MainHeadCallButtons__Button:not(.MainHeadCallButtons__Button--smallVersion) {
    padding: 18px;
  }
}
