@import "scope";
@import "../mixin/responsive";

.MainHeadThreadInfo {
  display: flex;
  max-width: calc(100% - 115px);
  overflow: hidden;
  height: 100%;
}

.MainHeadThreadInfo__ThreadInfoTextContainer {
  display: flex;
  flex-direction: column;
  min-height: 59px;
  max-height: 59px;
}

.MainHeadThreadInfo__BackContainer
{
  padding: 18px 9px;
}

@include grid("md") {

  .MainHeadThreadInfo:not(.MainHeadThreadInfo--smallVersion) {
    .MainHeadThreadInfo {
      max-width: none;
    }
    .MainHeadThreadInfo__BackContainer {
      display: none;
    }
    .MainHeadThreadInfo__BackContainer
    {
      padding: 18px;
    }
  }

}
