@import "../mixin/MainCallBoxMuteBox";

.MainCallBoxScene {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  position: relative;
}

.MainCallBoxScene {

}

.MainCallBoxScene__AvatarContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.MainCallBoxScene__Avatar {
  position: absolute;
  top: 50px;
  left: 15px;
  z-index: 2;
}

.MainCallBoxScene__Avatar--side {
  right: 15px;
  bottom: 50px;
  top: auto;
  left: auto;
}

.MainCallBoxScene__MicOffContainer {
  @include muteBox(0, 0);
}