.ModalParticipantList__DualModeTab {
  display: flex;
  flex-direction: row;
}

.ModalParticipantList__DualModeTabItem {
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.ModalParticipantList__DualModeTabItem--selected {
  border-bottom-width: 3px;
  border-bottom-color: $color-accent;
}